<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm the world's best dunker &amp; gajillion times All-Star living in Los Angeles, California.</p>
    <p>By day I work as an amazing professional basketball player in the NBA, by night I drive my Kia around town looking fly and turning heads.</p>
    <p>You can find me dunking on suckas, posterizing old men, and dominating the SportsCenter Top 10. I should just have my own segment</p>
    <p>***IMPORTANT***<br>
      Okay, I'm not really Blake Griffin even though I've been told over and over how much we look alike. This website is strictly for educational purposes, created only for practice. Anything expressed on this site has nothing to do with Blake Griffin nor does he endorse any of the content here. I am simply a fan. Please do not sue me!</p>
  </div>
  <div class="col-2 homepage_content">
    <h2>Stuff I've Written</h2>
    <hr>
    <% @posts.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>
    <% @projects.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>